__pycache__/
*.py[cod]
*.egg-info/
*.egg
.Python
build/
dist/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.venv/
venv/
env/
ENV/
.idea/
.vscode/
*.swp
.DS_Store
poetry.lock
